*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#myLinks{
    display: flex;
    justify-content: center;
}        

#myLinks a{
    text-align: center;
    margin: 0 10px;
}

h1{
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin: 0;
    margin-left: 15px;
    padding: 50px;
    text-align: center;
}

a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: bold;
    font-size: 20px;
    transition: ease 0.3s, color 0.3s, box-shadow 0.3s;
}

a:hover{
    color: lightcoral;
}

/*Modal for links*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(8px);
    /* filter: blur(8px); */
    /* -webkit-filter: blur(8px); */
  }

  .modalTitle{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
  }

  /* Modal Content */
  .aboutContent {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: none;
    width: 30%;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
  }

  .rulesContent {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: none;
    width: 30%;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
  }

    /* The Close Button */
    .rulesClose, .abtClose {
        color: #ec0404;
        float: right;
        font-size: 18px;
        font-weight: bold;
      }
      
      .rulesClose:hover,
      .rulesClose:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
      }
    
      .abtClose:hover,
      .abtClose:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
      }